[submodule "packages/portal-contracts/lib/forge-std"]
	path = packages/portal-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/portal-contracts/lib/btcmirror"]
	path = packages/portal-contracts/lib/btcmirror
	url = https://github.com/dcposch/btcmirror
[submodule "packages/portal-contracts/lib/openzeppelin-contracts"]
	path = packages/portal-contracts/lib/openzeppelin-contracts
	url = git@github.com:OpenZeppelin/openzeppelin-contracts.git
