[submodule "packages/portal-contracts/lib/forge-std"]
	path = packages/portal-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/portal-contracts/lib/btcmirror"]
	path = packages/portal-contracts/lib/btcmirror
	url = https://github.com/dcposch/btcmirror
[submodule "packages/portal-contracts/lib/openzeppelin-contracts"]
	path = packages/portal-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/portal-contracts/lib/solmate"]
	path = packages/portal-contracts/lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "packages/portal-contracts/lib/prb-math"]
	path = packages/portal-contracts/lib/prb-math
	url = https://github.com/paulrberg/prb-math
