.exchange-row {
    margin: 0.5em 0;
}

.exchange-row button {
    margin-top: 0.5em;
}

.exchange-two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

@media  (max-width: 600px){
    .exchange-two-col {
        display: block;
    }

    .exchange-place-order {
        display: inline-block;
        margin-right: 1em;
        margin-top: 0.5em;
    }
}

.exchange-two-col h3 {
    margin-top: 0;
}

.exchange-llabel {
    display: inline-block;
    width: 4em;
}

.exchange-ramount {
    display: inline-block;
    width: 6em;
    text-align: right;
    margin: 0 0.3em;
}

.exchange-ramount strong {
    user-select: all;
}

.exchange-order-row {
    display: flex;
    gap: 0.5em;
    font-variant-numeric: tabular-nums;
    white-space: pre;
    margin-bottom: 0.5em;
    padding: 0 0.5em;
}

.exchange-best-order {
    font-weight: var(--fw-semibold);
    letter-spacing: -0.07ex;
    background: var(--color-offwhite);
    padding: 0.5em 0.5em 0.1em 0.5em;
}

.exchange-best-order .exchange-order-type {
    line-height: 1.1;
}

.exchange-order-row:not(:first-child) .exchange-order-action {
    padding: 0 0.5em;
}

.exchange-order-row label {
    display: block;
    font-weight: normal;
    line-height: 1;
}

.exchange-order-type {
    width: 2.6em;
}

.exchange-order-price {
    width: 4.4em;
}

.exchange-order-action {
    flex-grow: 1;
    text-align: right;
}

.exchange-order-amount {
    width: 4.4em;
}

.exchange-escrow-row {
    display: grid;
    grid-template-columns: 4.8em 6.4em 5em 4em;
    gap: 0.5em;
    margin-bottom: 0.5em;
    background: var(--color-offwhite);
    padding: 0.2em 0.5em;
}

.exchange-activity-row {
    display: grid;
    grid-template-columns: 4.5em 4.5em 1fr;
}

.exchange-tx-status {
    margin-top: 1em;
    padding: 0.5em;
    color: var(--color-gray);
}

.exchange-tx-succeeded {
    background: var(--color-bg-green);
}

.exchange-tx-failed {
    background: var(--color-bg-red);
}

.exchange-of {
    max-width: 20em;
}

.exchange-of-error {
    color: var(--color-red);
}

.exchange-of-row {
    position: relative;
    display: flex;
    gap: 0.5em;
    font-variant-numeric: tabular-nums;
    white-space: pre;
    margin: 0.5em 0;
    height: 2em;
}

.exchange-of input[type=checkbox] {
    width: 0.9em;
    min-width: 0.9em;
    height: 0.9em;
    position: relative;
    top: 0.1em;
    margin-top: 0.57em; /** Match baseline checked vs unchecked. */
}

.exchange-of-baseline {
    align-items: baseline;
}

.exchange-of-row select {
    border-radius: 0.1em;
    background-color: var(--color-offwhite);
    border: none;
    padding: 0.5em;
}

.exchange-of-trade-arrow {
    text-align: center;
    margin: -1.05em 0;
}

.exchange-of-trade-arrow span {
    position: relative;
    z-index: 1;
    display: inline-block;
    background-color: var(--color-bg);
    border-radius: 0.3em;
    padding: 0 0.35em;
}

.exchange-of-limit-price {
    flex-grow: 1;
    text-align: right;
    padding-right: 3em;
}

.exchange-of-sublabel {
    position:absolute;
    right: 0.5em;
    bottom: 0.3em;
    font-size: 75%;
}