/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */

html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
ul{list-style:none}button,input,select{margin:0}
html{box-sizing:border-box}
*,*::before,*::after{box-sizing:inherit}
img,video{height:auto;max-width:100%}
iframe{border:0}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}

/* Bitswap styles */

:root {
    --color-dark: #111;
    --color-gray: #444;
    --color-offwhite: #ddd;
    --color-accent: rgb(217, 217, 253);
    --color-bg: #eee;

    --fw-semibold: 600;
}

body {
    font: 17px system-ui, sans-serif;
    line-height: 1.5;
    background: var(--color-bg);
    overflow-y: scroll;
}

main {
    margin: 0 auto;
    max-width: 540px;
    padding: 2em;
}

header img {
    width: 100%;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
    font-weight: var(--fw-semibold);
}

.nav-tab,
.nav-tab-sel {
    text-decoration: none;
    color: var(--color-gray);
    padding: 0.1em;
}

.nav-tab:hover {
    color: var(--color-dark);
}

.nav-tab-sel {
    border-bottom: 2px solid var(--color-dark);
    color: var(--color-dark);
}

h3 {
    font-weight: var(--fw-semibold);
}

p {
    margin: 0.5em 0;
}

ol {
    margin-left: 1.5em;
}

li {
    margin: 1em 0;
}

input {
    font: 15px system-ui, sans-serif;
    background: transparent;
    border: 1px solid var(--color-dark);
    width: 20em;
    padding: 0.2em;
    user-select: all;
}

button {
    font: 15px system-ui, sans-serif;
    margin: 0.2em;
    padding: 0.2em;
    cursor: pointer;
}

pre {
    overflow: hidden;
    user-select: all;
}